<p>
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta enim quam
  sunt, mollitia explicabo perferendis placeat quo beatae, odit, eius
  doloremque! Quaerat, dolor modi. Magnam nesciunt dicta eius pariatur esse.
</p>

<form [formGroup]="form" (ngSubmit)="submitForm()">
  <app-advance-text-editor
    formControlName="editorContent"
    [customMenu]="customOptions"
  ></app-advance-text-editor>

  <button type="submit">Submit</button>
</form>

<p>Editor Output:</p>
<div [innerHTML]="form.value.editorContent" class="output-container"></div>

<!-- <hr />

<div>
  <app-advance-text-editor
    [customMenu]="customOptions"
  ></app-advance-text-editor>
</div> -->
