<div style="text-align: center">
  <h3>Advance Text Editor</h3>
  <p>
    A powerful, lightweight, and customizable rich text editor component for
    Angular. This editor provides advanced text formatting, image insertion,
    alignment options, and seamless integration with Angular forms.
  </p>
</div>

<form [formGroup]="form" (ngSubmit)="submitForm()">
  <app-advance-text-editor
    formControlName="editorContent"
    [customMenu]="customOptions"
  ></app-advance-text-editor>

  <button type="submit">Submit</button>
</form>

<hr />

<p>Editor Output:</p>
<div [innerHTML]="form.value.editorContent" class="output-container"></div>

<!-- <hr />

<div>
  <app-advance-text-editor
    [customMenu]="customOptions"
  ></app-advance-text-editor>
</div> -->
